@import url("https://fonts.googleapis.com/css?family=Nunito|Lacquer");
body {
  margin-left: 1em; margin-right: 1em; margin-top: 1.5em;
  /* font-family: Arial, Helvetica, sans-serif; */
}


.hero_blog-section .hero_blog-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}



.top_blog_dish{
  background: #4CAF50;font-style: italic;
  height: 130px;
  border-top: 20px solid  rgb(238, 238, 238);
  border-bottom: 15px solid  rgb(238, 238, 238);
}

.top_blog_dish .title_blog_dish {
  width: 20%;
  margin: 15px auto 0 auto; 
}

.title_blog_dish .h1_blog_dish {
  font-size:44px;
  color:#FFF;
  font-weight:500;
  font-family: 'Pacifico', cursive;
}


























.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}



/* FOOTER */
/* footer details  */
/* body {
  margin-top: 1em ; margin-left: 5em; margin-right: 5em;
  font-family: Arial, Helvetica, sans-serif;
}
 */







